<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>VJot Project - Node.Js, Express & MongoDB</title>
  <style>
    .btn {  cursor: pointer; }
  </style>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-primary mb-5">
  <a class="navbar-brand text-white" href="">VidJot</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if (user) {%>
        <li class="nav-item active">
          <a class="nav-link text-white" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/users/logout">Logout</a>
        </li>
      <% } else { %>
        <li class="nav-item">
          <a href="/users/login" class="nav-link text-white">Login</a>
        </li>
        <li class="nav-item">
          <a href="/users/register" class="nav-link text-white">Register</a>
        </li>
      <% } %>
    </ul>
    <ul class="navbar-nav ml-auto mr-5">
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle text-white" data-toggle="dropdown" id="navbarDropdownMenuLink">Video Ideas</a>
        <div class="dropdown-menu">
          <a href="/ideas" class="dropdown-item">Ideas</a>
          <a href="/ideas/add" class="dropdown-item">Add Idea</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
